/* ================================= 
  Base Element Styles
==================================== */


body {
	line-height: 5;
	color: #000000;
	width: 100%
}


h1 {
	margin-top: 0;
}

a { 
	color: #4a2eff;
	text-decoration: none;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ------- Navigation ------- */

.name { 
	margin: 0;
	line-height: 1.5em;

}
.name a {
	color: white;
}

.main-nav li a {
	color: white;
}

.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}

/* ---- Layout Containers ---- */

.container {
	width: 100%;
	max-width: 1000px;
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	text-align: center;
	background-color: #7ebbec;
	color:#ffffff;
	padding: 0.25em 0;
}

.main-footer {
	text-align: center;
	background-color: #7ebbec;
	color:#ffffff;
	padding: 0.25em 0;

}

/* ---- Page Elements ---- */

header .container li {
	list-style: none;
	text-align: center;
}




/* ================================= 
  Media Queries
==================================== */












